.screen {
  border: solid;
  height: 120px;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  width: 15%;
  margin: 2px;;
  padding: 10px;
  border: solid;
  text-align: center;
  border-radius: 12px;
  background-color: teal;
}
.screen span {
  color: red;
}

/**/
#rad, #deg, #inv {
  background-color: black;
}
/**/

.screen p:last-child {
  color: red;
  border: solid black;
  padding: 4px;
}
.screen > p {
  color: blue;
}